.Card{
    width:250px;
    margin: 20px ;
    box-shadow: 2px 2px 5px #333;
    background: rgb(216, 216, 216);
    text-align: center;
    border: 3px solid #000000;
    color: #2a2a2a;
    border-radius: 10px;
    transition: transform 0.3s;
}

h3{
    font-size: 15px;
    padding: 0;
    margin-top: -10px;
    text-align: center;
}


.imgCard{
    margin: 10px;
    width: 150px;
    height: 150px;
    background: rgb(255,0,0);
    border: 3px solid black;
    box-shadow: 4px 4px 4px #696767;
}

.Card:hover{
    transform: scale(1.1);   
}